.row {
  margin-top: 100px;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

.card {
  height: 100%;
  margin-bottom: 15%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

@media all and (max-width: 768px) {
  #lezioni, #why{
    background-color: #f2f2cd;
  }
  #steps {
    background-color: white;
  }
}
